<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drukarnia- wybierz produkt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
</head>

<body>
    <header>
        <h2>Bodyfit</h2>
    </header>
    <div id="main">
        <h3>Dodaj produkt</h3>
        
    </div>

</body>

</html>
