<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj produkt- Panel admina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <a href="/adminpanel"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo"></a>
    </header>
    <div id="main">
        <h3>Dodaj Produkt</h3>
        <form action="/addproduct" method="post" enctype="multipart/form-data">
            <h4>Nazwa</h4>
            <input type="text" placeholder="Wpisz nazwę" name="nazwa" required>
            <h4>Dodaj zdjęcie produktu</h4>
            <h5 style="color: red">Uwaga, panel przyjmuje tylko zdjęcia w formacie png z racji przezroczystego tła.<br> Zdjęcia dodane w innym formacie mogą się nie wyświetlać</h5>
            <input type="file" placeholder="Dodaj załącznik" name="img" accept=".png" required>
            <br><br><br>
            <button type="submit">Dodaj</button>
        </form>
    </div>

</body>

</html>