<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj produkt- Panel admina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo"></a>
    </header>
    <div id="main">
        <h3>Dodaj Rozmiary/ceny</h3>  
              
    </div>
<script>
 if(confirm("Czy produkt będzie miał narzucone rozmiary?")){
     document.getElementById('main').innerHTML+='<form action="/addcena"method="post">{%for i in wyk%}<input type="text"name="finish"value="{{i}}"><br><br><input type="text"placeholder="Wymiar"name="size"><input type="number"name="price"placeholder="cena"><br><br><input type="text"placeholder="Wymiar"name="size"><input type="number"name="price"placeholder="cena"><br><br><input type="text"placeholder="Wymiar"name="size"><input type="number"name="price"placeholder="cena"><br><br><input type="text"placeholder="Wymiar"name="size"><input type="number"name="price"placeholder="cena"><hr>{%endfor%}<input type="text" name="model" readonly value="set" style="visibility: hidden;width:0"><button type="submit">Dodaj</button></form>'
 }else{
     document.getElementById('main').innerHTML += '<form action="/addcenamaterial" method="post" enctype="multipart/form-data" id="formMat">{%for i in mat%}<h3>Cena materiału: {{i}}</h3><input type="number" name="price" placeholder="Podaj cenę za metr">{%endfor%}<input type="text" name="model" readonly value="custom" style="visibility: hidden; width:0"><br><br><button type="submit">Dodaj</button></form>'
 }    
</script>
</body>
    
</html>