<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drukarnia- Panel admina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo"></a> </header>
    <div id="main">
        <h3>Wybierz czym chcesz zarządzać</h3>
        <div id="list">
            <a href='adminproducts' class="listItem">
                <p><span>Produkty</span></p>
            </a>
            <a href='admincodes' class="listItem">
                <p><span>Kody rabatowe</span></p>
            </a>
            <a href='adminpassword' class="listItem">
                <p><span>Hasło</span></p>
            </a>
        </div>
    </div>
    <script>
    var elementy = document.getElementsByClassName('listItem').length
        window.onload = function() {
            if (elementy == 1) {
                document.getElementById('list').classList.add('list1')
            } else if (elementy == 2) {
                document.getElementById('list').classList.add('list2')
            } else if (elementy == 3) {
                document.getElementById('list').classList.add('list3')
            } else if (elementy == 4) {
                document.getElementById('list').classList.add('list4')
            }
        }
    </script>

</body>

</html>
