<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj kod- Panel admina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <a href="/adminpanel"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo"></a>
    </header>
    <div id="main">
        <h3>Zmień hasło</h3>
        <form action="javascript:void(0);">
            <input type="password" id="code" placeholder="Wpisz nowe hasło" required>
            <br><br>
            <input type="password" id="code2" placeholder="Powtórz hasło" required>
            <br><br><br>
            <button type="submit" onclick=(addCode())>Dodaj</button>
        </form>
    </div>

    <script>
        function addCode() {
            var code = document.getElementById('code').value
            var code2 = document.getElementById('code2').value
            if ((code != "" && code2 != "") && (code==code2) ) {
                const Http = new XMLHttpRequest();
                var url = 'http://127.0.0.1:5000/changepass?nazwa=' + code 
                Http.open("GET", url)
                Http.send()
                Http.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        location = '/login'
                    }
                    if (this.readyState == 4 && this.status == 500) {
                        alert('Wystąpił błąd, spróbuj ponownie')
                    }
                }
            }else{
                alert('Nie wpisano haseł lub hasła się różnią')
            }

        }
    </script>
</body>

</html>