<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <title>Drukarnia- wybierz plik</title>
</head>

<body>
    <header>
<a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo"></a>    </header>
    <div id="main">
        <form action="data/" method ="post" enctype="multipart/form-data">
            
            <h3>Dołącz plik który mamy wydrukować</h3>
            <input id="plik" type="file" placeholder="Dodaj załącznik" name="img" accept=".jpg,.jpeg,.png,.pdf">
            <h5>Przyjmujemy pliki JPG, PNG, oraz PDF</h5>

            <h4>Wklej link z plikiem</h4>
            <input id="link" type="url" placeholder="Wklej link" value="" name="link">
            <hr>
            <input type="checkbox" id="req" required name="req"><strong>(wymagane)</strong> jestem świadom jakości wysyłanego przeze mnie pliku i tego, że przez napisy i loga umieszczone w projekcie nie dalej jak 4cm od krawędzi mogą przejść szycia
            <br>
            <input id="project" type="checkbox" name="projekt">chcę, byście wykonali za mnie projekt (dodatkowo 200PLN)
            <br>
            <button type="submit" >Dalej</button>
        </form>
    </div>
    <div id="progressBar">
        <div class="progressed">Produkt</div>
        <div class="progressed">Materiał</div>
        <div class="progressed">Wykończenie</div>
        <div class="progressed">Rozmiar</div>
        <div>Plik</div>
        <div>Dane</div>
    </div>
    <script>
        function convertToHex(str) {
            var hex = '';
            for (var i = 0; i < str.length; i++) {
                hex += '' + str.charCodeAt(i).toString(16);
            }
            return hex;
        }
        const toBase64 = file => new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });

        function send() {
            if (document.getElementById("req").checked == true) {
                if (document.getElementById('link').value == "") {
                    toBase64(document.getElementById("plik").files[0]).then(function(value) {
                        var base = value
                        base = base.replace(/\//g, ')')
                        base = base.replace(/\+/g, "_")
                        base = base.replace(/\=/g, "-")
                        location.assign("data/" + document.getElementById("project").checked + "!p!" + base)
                    })
                } else {
                    var plik = document.getElementById('link').value
                    console.log(convertToHex(plik))
                    location.assign("data/" + document.getElementById("project").checked + "!l!" + convertToHex(plik))
                }
            }
        }

    </script>
</body>

</html>
