<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <title>Drukarnia- wykończenie</title>
</head>

<body>
    <header>
        <h2>Wykończenie</h2>
    </header>
    <div id="main">
        <div id="list">
            {% for i in methods %}
            <a href='methods/{{i}}'>
                <p><span>{{i}}</span></p>
            </a>
            {% endfor %}
        </div>
    </div>
    <div id="progressBar">
        <div class="progressed">Produkt</div>
        <div class="progressed">Materiał</div>
        <div>Wykończenie</div>
        <div>Rozmiar</div>
        <div>Plik</div>
        <div>Dane</div>
    </div>
</body>

</html>