<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <title>Drukarnia- wybierz rozmiar</title>
</head>

<body>
    <header>
        <h2>Rozmiar</h2>
    </header>
    <div id="main">
        <form action="javascript:void(0);">
            {%if sizing != ['Dowolny '] %}
            {% for i in sizing %}
            <input type="radio" name="size" value="{{i}}" required>{{i}}
            <br>
            {% endfor %}
            <input type="number" placeholder="Ilość sztuk" id="qua" min="1" required>
            <button onclick=(calPrice())>Wylicz cenę</button>
            <p class="price">Cena orientacyjna: <span id="price">0</span>zł</p>
            <br>
            <input type="hidden" id="hidd" value="options">
            <button type="submit" onclick=(next())>Dalej</button>
            {% endif %}
            
            
            {%if sizing==['Dowolny ']%}
            <input type="number" placeholder="Szerokość(cm)" min="1" id="wid" required>
            <input type="number" placeholder="Wysokość(cm)" min="1" id="hei" required>
            <input type="number" placeholder="Ilość sztuk" min="1" id="qua" required>
            <button onclick=(calPrice())>Wylicz cenę</button>
            <p class="price">Cena orientacyjna: <span id="price">0</span>zł</p>
            <br>
            <input type="hidden" id="hidd" value="custom">
            <button type="submit" onclick=(next())>Dalej</button>
            {% endif %}
        </form>
    </div>
    <div id="progressBar">
        <div class="progressed">Produkt</div>
        <div class="progressed">Materiał</div>
        <div class="progressed">Wykończenie</div>
        <div>Rozmiar</div>
        <div>Plik</div>
        <div>Dane</div>
    </div>
    <script>
        var cena = 20

        function calPrice() {
            var hidIn = document.getElementById('hidd').value
            if (hidIn == "custom") {
                if (document.getElementById('qua').value!='' && document.getElementById('wid').value!='' && document.getElementById('hei').value!=''){
                    document.getElementById("price").innerHTML = Math.round((document.getElementById("wid").value / 100) * (document.getElementById("hei").value / 100) * document.getElementById("qua").value * cena)
                }
                
            }
            if (hidIn == "options") {
                var radios = document.getElementsByName('size')
                var size =""
                for (i = 0; i < radios.length; i++) {
                    if (radios[i].checked) {
                        size = radios[i].value
                    }
                }
                if (size != "" && document.getElementById('qua').value!=''){
                    var sizes = size.split('x')
                    document.getElementById("price").innerHTML = Math.round((sizes[0]/100)*(sizes[1]/100)*document.getElementById("qua").value*cena)
                }
            }
        }

        function next() {
            var hidIn = document.getElementById('hidd').value
            if (hidIn == "custom") {
                if (document.getElementById('qua').value!='' && document.getElementById('wid').value!='' && document.getElementById('hei').value!=''){
                    location.assign("file/" + document.getElementById("wid").value + "x" + document.getElementById("hei").value + "!" + document.getElementById("qua").value)
                }
                
            }
            if (hidIn == "options") {
                var radios = document.getElementsByName('size')
                var size =""
                for (i = 0; i < radios.length; i++) {
                    if (radios[i].checked) {
                        size = radios[i].value
                    }
                }
                if (size != "" && document.getElementById('qua').value!=''){
                location.assign("file/"+size + "!" + document.getElementById("qua").value)
                }
            }
        }

    </script>
</body>

</html>
