<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <title>Drukarnia- wybierz rozmiar</title>
</head>

<body>
    <header>
        <h2>Rozmiar</h2>
    </header>
    <div id="main">
        {%if sizing != '0' %}
        {% for i in sizing %}
        {% if i|length==2 %}
        <a href='methods/{{i[0]}}'><input type='button' value='{{i}}'></a>
        {% else %}
        <a href='methods/{{i}}'><input type='button' value='{{i}}' s></a>
        {% endif %}
        {% endfor %}
        {% endif %}
        {%if sizing=='0'%}
        <input type="number" placeholder="Szerokość(cm)" id="wid" required>
        <input type="number" placeholder="Wysokość(cm)" id="hei" required>
        <input type="number" placeholder="Ilość sztuk" id="qua" required>
        <button onclick=(calPrice())>Wylicz cenę</button>
        <p class="price">Cena: <span id="price">0</span>zł</p>
        <br>
        <button onclick=(next())>Dalej</button>
        {% endif %}
    </div>
    <div id="progressBar">
        <div class="progressed">Produkt</div>
        <div class="progressed">Materiał</div>
        <div class="progressed">Wykończenie</div>
        <div>Rozmiar</div>
        <div>Plik</div>
        <div>Dane</div>
    </div>
    <script>
        var cena = 20
        function calPrice() {
            document.getElementById("price").innerHTML = (document.getElementById("wid").value/100) * (document.getElementById("hei").value/100) * document.getElementById("qua").value * cena
        }
        function next(){
            location.assign("file/"+document.getElementById("wid").value+"x"+document.getElementById("hei").value+"!"+document.getElementById("qua").value)
        }
    </script>
</body>

</html>