<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <title>Drukarnia- wybierz rozmiar</title>
</head>

<body>
    <header>
        <h2>Bodyfit</h2>
    </header>
    <div id="main">
       <h3>Wybierz rozmiar</h3>
        <form action="javascript:void(0);">
            {%if sizing[0][0] != 'Dowolny ' %}
            {% for i in sizing %}
            <input type="radio" name="size" value="{{i[0]}}x{{i[1]}}" required>{{i[0]}}
            <br>
            {% endfor %}
            <input type="number" placeholder="Ilość sztuk" id="qua" min="1" required>
            <button onclick=(calPrice())>Wylicz cenę</button>
            <p class="price">Cena orientacyjna: <span id="price">0</span>zł</p>
            <br>
            <input type="hidden" id="hidd" value="options">
            <button type="submit" onclick=(next())>Dalej</button>
            {% endif %}
            {%if sizing[0][0]=='Dowolny '%}
            <input type="number" placeholder="Szerokość(cm)" min="1" id="wid" required>
            <input type="number" placeholder="Wysokość(cm)" min="1" id="hei" required>
            <input type="number" placeholder="Ilość sztuk" min="1" id="qua" required>
            <button onclick=(calPrice())>Wylicz cenę</button>
            <p class="price">Cena orientacyjna: <span id="price">0</span>zł</p>
            <br>
            <input type="hidden" id="hidd" value="custom">
            <input type="hidden" id="priceValue" value="{{sizing[0][1]}}">
            <button type="submit" onclick=(next())>Dalej</button>
            {% endif %}
        </form>
    </div>
    <div id="progressBar">
        <div class="progressed">Produkt</div>
        <div class="progressed">Materiał</div>
        <div class="progressed">Wykończenie</div>
        <div>Rozmiar</div>
        <div>Plik</div>
        <div>Dane</div>
    </div>
    <script>
        function calPrice() {
            var hidIn = document.getElementById('hidd').value
            if (hidIn == "custom") {
                var price = document.getElementById('priceValue').value
                console.log(price)
                if (document.getElementById('qua').value != '' && document.getElementById('wid').value != '' && document.getElementById('hei').value != '') {
                    document.getElementById("price").innerHTML = Math.round((document.getElementById("wid").value / 100) * (document.getElementById("hei").value / 100) * document.getElementById("qua").value * price)
                }
            }
            if (hidIn == "options") {
                var radios = document.getElementsByName('size')
                var size = ""
                for (i = 0; i < radios.length; i++) {
                    if (radios[i].checked) {
                        size = radios[i].value
                    }
                }
                if (size != "" && document.getElementById('qua').value != '') {
                    var sizes = size.split('x')
                    document.getElementById("price").innerHTML = (document.getElementById("qua").value * sizes[2])
                }
            }
        }

        function next() {
            var hidIn = document.getElementById('hidd').value
            if (hidIn == "custom") {
                if (document.getElementById('qua').value != '' && document.getElementById('wid').value != '' && document.getElementById('hei').value != '') {
                    location.assign("file/" + document.getElementById("wid").value + "x" + document.getElementById("hei").value + "!" + document.getElementById("qua").value)
                }
            }
            if (hidIn == "options") {
                var radios = document.getElementsByName('size')
                var size = ""
                for (i = 0; i < radios.length; i++) {
                    if (radios[i].checked) {
                        size = radios[i].value
                    }
                }
                var sizes = size.split('x')
                var sizes = sizes[0]+'x'+sizes[1]
                if (size != "" && document.getElementById('qua').value != '') {
                    location.assign("file/" + sizes + "!" + document.getElementById("qua").value)
                }
            }
        }
    </script>
</body>

</html>