<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drukarnia- wybierz produkt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
</head> 
<body>
    <header>
        <h2>Bodyfit</h2>
    </header>
    <div id="main">
        <h3>Wybierz jaki produkt chcesz u nas wydrukować</h3>
        {% for i in products %}
        {% if i|length==2 %}
        <a href='products/{{i[0]}}'><input type='button' value='{{i}}'></a>
        {% else %}
        <a href='products/{{i}}'><input type='button' value='{{i}}'s></a>
        {% endif %}
        {% endfor %}
    </div>
    <div id="progressBar">
        <div>Produkt</div>
        <div>Materiał</div>
        <div>Wykończenie</div>
        <div>Rozmiar</div>
        <div>Plik</div>
        <div>Dane</div>
    </div>
</body>
</html>