<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form-start</title>
</head> 
<body>
    <a href='products/baner'><input type='button' value='Baner reklamowy'></a>
    <a href='products/sticker'><input type='button' value='Naklejka lub magnez'></a>
    <a href='products/pad'><input type='button' value='Dywan i podkladka'></a>
    <a href='products/poster'><input type='button' value='Plakat i dyplom'></a>
    <a href='products/flag'><input type='button' value='Flaga pozioma'></a>
</body>
</html>