<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drukarnia- podsumowanie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
</head>

<body>
    <header>
        <h2>Bodyfit</h2>
    </header>
    <div id="main">
        <h1>Dziękujemy, zgłoszenie zostało wysłane</h1>
    </div>
    <div id="progressBar">
        <div class="progressed">Produkt</div>
        <div class="progressed">Materiał</div>
        <div class="progressed">Wykończenie</div>
        <div class="progressed">Rozmiar</div>
        <div class="progressed">Plik</div>
        <div class="progressed">Dane</div>
    </div>
</body>

</html>